@media only screen and (max-width: 768px) {
    

    .body_mainTxt
    {
        font-size: 3rem;
        padding: 0;
        margin-bottom: 5vh;
    }

    .body_subTxt
    {
        font-size: 1.3rem;
    }

    #body_hrLine
    {
        width: 150px;
    }

    .body_button
    {
        padding: 5px 15px;
        left: 20px
    }
    .body
    {
        width: 100%;
    }

    .links
    {
        display: none;
    }
    .header_socialMedia
    {
        display: none;
    }

    .header
    {
        display: none;
    }

    /* #############################################################################
                                        ÜBER UNS
        ###########################################################################*/

    .container
    {
        flex-direction: column;
    }

    .txtContainer
    {
        font-size: 1rem;
        line-height: 21px;
        width: 100%;
        padding: 0;
        margin-left: 0px;
    }

    .imgContainer
    {
        width: 80vw;
        height: 50vh;
        margin: 0;
        font-size: 2rem;
        line-height: 30px;
    }

    .aboutUs_container
    {
        width: 100%;
        height: 140vh;
    }

        /* #############################################################################
                                        Wer sind wir ? 
        ###########################################################################*/
    .whoAreWeContainer
    {
        height: 450vh;
    }

    .memberContainer
    {
        flex-direction: column;
        justify-content: flex-start;
    }

    .memberImg
    {
      flex-shrink: 2;
      flex-wrap: nowrap;
      height: 30rem;
      width: 80vw;
      height: 60vh;

    }
    .headline
    {
        margin-top: 30px;
        font-size: 2.5rem;
    }



        /* #############################################################################
                                       Gigs
        ###########################################################################*/

        .contentTableContainer
        {
            display: none;
        }
    
        /* #############################################################################
                                       Contacts
        ###########################################################################*/
    .contacts
    {
        display: none;
    }


}