@media only screen and (max-width: 768px) {
    

    .body_mainTxt
    {
        font-size: 3rem;
        padding: 0;
        margin-bottom: 5vh;
    }

    .body_subTxt
    {
        font-size: 1.3rem;
    }

    #body_hrLine
    {
        width: 150px;
    }

    .body_button
    {
        padding: 5px 15px;
        left: 20px
    }
    .body
    {
        width: 100%;
        display: none;
    }

    .links
    {
        display: none;
    }
    .header_socialMedia
    {
        display: none;
    }

    .header
    {
        display: none;
    }

    /* #############################################################################
                                        ÜBER UNS
        ###########################################################################*/

    .container
    {
        flex-direction: column;
    }

    .txtContainer
    {
        font-size: 1rem;
        line-height: 21px;
        width: 100%;
        padding: 0;
        margin-left: 0px;
    }

    .imgContainer
    {
        width: 80vw;
        height: 50vh;
        margin: 0;
        font-size: 2rem;
        line-height: 30px;
    }

    .aboutUs_container
    {
        width: 100%;
        height: 140vh;
    }
    .headline_container
    {
        padding-top: 2%;
    }

        /* #############################################################################
                                        Wer sind wir ? 
        ###########################################################################*/
    .whoAreWeContainer
    {
        height: 450vh;
    }

    .memberContainer
    {
        flex-direction: column;
        align-items: center;
        margin-top: 5vh;
    }

    .memberImg
    {
  
      flex-wrap: nowrap;
      width: 400px;
      margin-bottom: 5vh;

    }
    .headline
    {
        margin-top: 30px;
        font-size: 2.5rem;
    }



        /* #############################################################################
                                       Gigs
                                    ###########################################################################*/
   
   

    .columnNames
    {
        width: 100%;
        font-size: 0.9rem;
    }
    .contentTableContainer
    {
        flex-direction: row;
        flex-wrap: wrap;
    }


    .column
    {
        flex: 1;
 
    }

    .table
    {
        font-size: 1rem;
        flex: 1;
        transform: translateY(-30%);
    }
    .data
    {
        flex: 1;
    }


    
        /* #############################################################################
                                       Contacts
        ###########################################################################*/
    .contacts
    {
        flex-direction: column;
        font-size: 1.1rem;
        flex: 1;
    }

    .contactimg
    {
        width: 4vw;
        padding: 0;
    }

    #youtubelogo
    {
        width: 4.5vw;
    }

    .contactContainer  p 
{
    margin: 2vw 3vw
}

.whoAreWeContainer
{
  
}





}