@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@media only screen and (max-width: 768px) {
    

    .body_mainTxt
    {
        font-size: 3rem;
        padding: 0;
        margin-bottom: 5vh;
    }

    .body_subTxt
    {
        font-size: 1.3rem;
    }

    #body_hrLine
    {
        width: 150px;
    }

    .body_button
    {
        padding: 5px 15px;
        left: 20px
    }
    .body
    {
        width: 100%;
        display: none;
    }

    .header
    {
        border: none;
        box-shadow: none;
      
    }
    .header_logo
    {
        display: none;
    }

    .links
    {
        display: none;
    }
    #hamburger
    {
        display: block;
        margin-right: 3vw;
     

    }

    .barMenu a 
    {
        user-select: none;
    }


  



    #youtube_link
    {
        display: none;
    }
    #instagram_link
    {
        display: none;
    }

    .barMenu
    {
        position:fixed;
        left: 100%;
        z-index: 2;
        background-color: #2d3436;
        height: 100vh;
        width: 100vw;
        color: white;
        font-size: 2.5rem;
        font-family: Lato;
        font-weight: 300;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transition: all .8s;
    }

    #home
    {
        
        flex-basis: 30vh;
    }

    #logoOnlyText
    {
        display: block;
        background-image: url("imgs/logo_onlyText.png");
        background-size: cover;
        background-position: center;
        flex: 1;
    }

    .logoContainer
    {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 5vh;
        margin-top: 1vh;
    }

    #logoOnlyTextTablet
    {
        display: none;
    }
    .logoContainerTablet
    {
        display: none;
    }






    .barMenu ul li 
    {
        margin-top: 5vh;
    }
    .barMenu ul a :active
    {
        color: #0984e3;
        user-select: none;
    }
     /* #############################################################################
                                        Promo Video
        ###########################################################################*/

        #videopage
        {
            flex-basis: 60vh;
            
        }
    .videoContainer
    {
        height: 30vh;
    }

    #video
    {
        width: 100vw;
    }


    /* #############################################################################
                                        ÜBER UNS
        ###########################################################################*/



    .container
    {
        justify-content: flex-start;
    }    

    #aboutUs
    {
        flex-basis: 100vh;
    }
    .txtContainer
    {
        font-size: 4vw;
        line-height: 2.5vh;
        width: 100%;
        padding: 0;
        margin-left: 0px;
        font-family: Roboto;
        
    }

    .imgContainer
    {
        width: 80vw;
        height: 50vh;
        margin: 0;
        font-size: 2rem;
        line-height: 5vh;
    }

    .aboutUs_container
    {
        width: 100%;
        height: 140vh;
    }
    .headline_container
    {
        padding-top: 2%;
    }

        /* #############################################################################
                                        Wer sind wir ? 
        ###########################################################################*/
    .whoAreWeContainer
    {
        height: 450vh;
       
    }

    .memberContainer
    {
        flex-direction: column;
        align-items: center;
        margin-top: 5vh;
    }

    .memberImg
    {
  
      flex-wrap: nowrap;
      width: 100vw;
      margin-bottom: 5vh;

    }
    .headline
    {
        margin-top: 5vh;
        font-size: 2.5rem;
    
    }
    .header
    {
        background-color: transparent;
    }



        /* #############################################################################
                                       Gigs
                                    ###########################################################################*/
   
   

    .columnNames
    {
        width: 100%;
        font-size: 2.8vw;
    }
    .contentTableContainer
    {
        flex-direction: row;
        flex-wrap: wrap;
     
    }


    .column
    {
        flex: 1;
    }


    .table
    {
        font-size: 3vw;
        flex: 1;
     
    }
    .data
    {
        flex: 1;
        border-right: none;
    }


    
        /* #############################################################################
                                       Contacts
        ###########################################################################*/
    .contacts
    {
        flex-direction: column;
        font-size: 1.1rem;
        flex: 1;
    }

    .contactimg
    {
        width: 4vw;
        padding: 0;
    }

    #youtubelogo
    {
        width: 4.5vw;
    }

    .contactContainer  p 
{
    margin: 2vw 3vw
}





}