

.memberContainer
{
    flex: 1;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
}

.memberImg
{
    background-position: center;
    background-size: cover;
   /* box-shadow: 10px 10px 3px #636e72 ; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    font-size: 2.4rem;
    margin: 0;
    transition: box-shadow .6s;
    height: 55vh;

}

.singleImgContainer
{
    font-size: 2rem;
    text-align: center;
    transition: all .6s;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    padding: 0;

}
.singleImgContainer > p 
{
    margin: 0;
    padding: 0;
}



.singleImgContainer:hover
{
    transform: translateY(-3%);

}
.memberImg:hover
{
    box-shadow: 15px 15px 3px #636e72 ; 
}

.img1
{
    background-image: url("imgs/Fritz.JPG") ;
}
.img2
{
    background-image: url("imgs/eremiya.JPG") ;
}
.img3
{
    background-image: url("imgs/jj.JPG") ;
}
.img4
{
    background-image: url("imgs/fenja.JPG") ;
}
.img5
{
    background-image: url("imgs/stefan.JPG") ;
}

.gigCountdown
{
    width: 100%;
    height: 200px;
    background-color: #ff7675;
}